<ion-header-bar class="bar button-dark-blue">
    <button class="button button-icon text-white" ng-click="goToProfile()">
        <i class="icon icon-person"></i>
    </button>
    <div class="h1 title text-blue">Seenema</div>
    <button class="button button-icon text-white" ng-click="goToScores()">
        <i class="icon icon-trophy"></i>
    </button>
</ion-header-bar>

<ion-content class="background-dark">
    <h2 class="text-white text-center">Enter Theater Pin</h2>
    <h5 class="text-white text-center"> find pin on theater screen</h5>

    <label class="item item-input">
        <input type="text" placeholder="Theater Pin">
    </label>
     <button class="button button-full button-red" ng-click="goToGame()">
        Submit
    </button>

</ion-content>