<ion-header-bar class="bar button-dark-blue dark-border">
    <button class="button button-icon text-white" ng-click="goToProfile()">
        <i class="icon icon-person"></i>
    </button>
    <div class="h1 title text-blue">Seenema</div>
     <button class="button button-icon text-white" ng-click="goToScores()">
        <i class="icon icon-trophy"></i>
    </button>
</ion-header-bar>
<div class="bar bar-subheader sub-headerbar-dark">

</div>

<ion-content has-header="true" has-subheader="true" has-footer="true" scroll="true">
    <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false">
        <img src="../img/ispy-full.jpg"/>
    </ion-scroll>
</ion-content>
