<ion-content class="login-page background-white" scroll="false">

    <img class="logo col col-center" src="../img/SeenemaLogo_orig.png">
    <img class="logo-type col col-center" src="../img/moviespot.png">
    <div class="button-div">
        <button class="button button-block facebook text-white ion-social-facebook" ng-click="showAlert()">
                  Login with Facebook
        </button>
        <button class="button button-block guest button-red" g-model="user.name" type="text"  ng-click="showAlert()">
            Play as Guest
        </button>
    </div>
    <img class="full-image popcorn" src="../img/popcorn.png">

</ion-content>
