<ion-content class="login-page" scroll="false">

    <img class="logo col col-center" src="../img/logo-red.png">
    <img class="logo-type col col-center" src="../img/seenema-dark.png">
    <button class="button button-full button-positive facebook ion-social-facebook" ng-click="showAlert()">
           Login with Facebook
    </button>
    <button class="button button-full guest button-red" g-model="user.name" type="text"  ng-click="showAlert()">
        Play as Guest
    </button>
    <img class="full-image popcorn" src="../img/popcorn.png">

</ion-content>
