<ion-header-bar class="bar button-dark-blue dark-border">
    <button class="button button-icon" ng-click="goBack()">
        <i class="icon ion-ios-arrow-back text-white"></i>
    </button>
    <div class="h1 title text-blue">Profile</div>
</ion-header-bar>

<ion-content class="sub-headerbar-dark" scroll="false">
    <a class="item sub-headerbar-dark text-white profile" ng-click="goToEdit()">
        <div class="row">
            <div class="col col-25 profile-col">
                <i class="profile-picture"></i>
            </div>
            <div class="col">
                <h2 class="text-white profile-name">Ron</h2>
            </div>
        </div>
    </a>
   <div class="overlay col col-center">
        <h4 class="text-white progress-text">recieve free</h4> 
        <h2 class="text-white popcorn-text">POPCORN</h2> 
        <h4 class="text-white progress-text">every 100 points</h4>
    </div>
    <div class="progress-radial"
        round-progress
        max="max"
        current="user.points"
        color="#00BEDE"
        bgcolor="#eaeaea"
        radius="120"
        stroke="25"
        clockwise="true"
        responsive="false"
        duration="800"
        animation="easeInOutQuart">
    </div>

    <div>
        <h3 class="text-center text-white progress-text">{{ user.points + '/' + max }}</h3>
        <h5 class="text-center text-white progress-text">points</h5>
    </div>
</ion-content>

<ion-footer-bar class="bar bar-footer button-red" ng-click="showAlert()">
    <div class="title">Redeem Rewards</div>
</ion-footer-bar>