<ion-header-bar class="bar button-dark-blue">
    <button class="button button-icon text-white" ng-click="goBack()">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <div class="h1 title text-blue">Scores</div>
</ion-header-bar>

<ion-content>
    <div class="list">
        <a class="item item-icon-left" ng-click="goToScores()">
            <i class="icon ion-person"></i>
            Tony Stark
            <span class="item-note">21</span>
        </a>
        <div class="item item-divider">
            Leaderboard
        </div>
        <a class="item item-icon-left" href="#">
            <i class="icon ion-person"></i>
            Steve Rogers
            <span class="item-note">21</span>
        </a>
    </div>
</ion-content>