<ion-content class="tutorial-page background-dark" scroll="false">

  <div class="row row-center">
    <div class="col col-center">
      <span class="tutorial-text">Play With Friends</span>
    </div>
  </div>

  <div class="row tutorial-row row-center">
    <div class="col col-center">
      <img src="../img/friends.png"/>
    </div>
  </div>

  <button class="button icon-right ion-chevron-right button-clear tutorial-button"
    ng-click="goToTutorial3()">
    Next
  </button>

</ion-content>
