/*************************************/
/*      General                      */
/*************************************/

.button-dark-blue {
    background-color: #1A232D;
    border-color: #1A232D !important;
    color: #fff;
    background-image: none;
}

.button-dark-blue.activated {
    background-color: #252F39;
    border-color: #252F39 !important;
    color: #fff;
    background-image: none;
}

.button-blue {
    background-color: #00BEDE;
    border-color: #00BEDE !important;
    color: #fff;
    background-image: none;
}

.button-blue.activated {
    background-color: #4EDBED;
    border-color: #4EDBED !important;
    color: #fff;
    background-image: none;
}

.button-red {
    background-color: #F75B46;
    border-color: #F75B46 !important;
    color: #fff;
    background-image: none;
}

.button-red.activated {
    background-color: #F97467;
    border-color: #F97467 !important;
    color: #fff;
    background-image: none;
}

.background-dark {
    background-color: #1F2934 !important;
}

.sub-headerbar-dark {
    background-color: #252F39;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #76868E;
}

.text-blue {
    color: #4EDBED;
}

.text-gray {
  color: #76868E;
}

.icon-trophy {
    content: url(../img/trophy.png);
    height: 23px;
    margin-top: 5px;
}

.icon-person {
    content: url(../img/person.png);
    height: 23px;
    margin-top: 5px;
}

.slider-pager .slider-pager-page
{
    color: #fff;
}

  /*background-color: #FAFAFA;*/
  /*border-color: #EDF0F2;*/

/*************************************/
/*      Login                       */
/*************************************/
.login-page {
    top: 70px;
}

.logo {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.logo-type {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}

.facebook {
    top: 100px;
    margin-bottom: 0;
    margin-top: 0;
}

.guest {
    top: 100px;
    margin-bottom: 0;
    margin-top: 0;
}

.popcorn {
    padding-top: 105px;
}

/*************************************/
/*      Tutorial                     */
/*************************************/

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 120px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.tutorial-page {
  padding-top: 120px;
  color: #FFF;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.tutorial-row {
  height: 65%;
}

.tutorial-text {
  font-weight: bold;
  font-size: 1.5em;
}

.tutorial-button {
  color: #F75B46 !important;
  font-weight: bold;
}

.tutorial-button.icon-right:before {
  color: #F75B46;
  padding-left: 0.5em;
}

/*************************************/
/*      Game Pin                     */
/*************************************/

.game-pin-page {
  padding-top: 120px;
}

.game-pin-row {
  height: 80%;
  padding-bottom: 50px;
}

/*************************************/
/*      Game                         */
/*************************************/

/*************************************/
/*      Scores                       */
/*************************************/

.item {
  border-color: #EDF0F2;
}

.wrapping-list .item-content, .wrapping-list .item {
  overflow: initial;
  white-space: initial;
}

/*************************************/
/*      Profile                      */
/*************************************/

.profile {
    height: 88px;
}

.progress-radial {
    position: absolute;
    margin-left: 68px;
    margin-top: 85px

}

.overlay {
    position: absolute;
    padding-top: 157px;
    text-align: center;
    color: #fff;

}

.popcorn-text {
    margin: 0;
}

.progress-text {
    margin: 0;
}

.popup-buttons .button {
    background-color: #F75B46;
    border: #F75B46;
    border-radius: 4px;
}

.popup-buttons .button.activated {
    background-color: #F97467;
    border-color: #F97467 !important;
    border-radius: 4px;
}

.popup-body {
  text-align: center;
}

.popup-container .popup {
  border-radius: 4px;
}

