/*************************************/
/*      General                      */
/*************************************/
.body {
  font-family: Helvetica;
}

.title {
  font-weight: bold !important;
}

.background-white {
  background-color: #fff;
}

.button-dark-blue {
    background-color: #18212B;
    /*border-color: #18212B !important;*/
    color: #fff;
    background-image: none;
}

.dark-border {
    border-bottom: 1px solid #2D404F;
}

.button-dark-blue.activated {
    background-color: #242F3A;
    border-color: #242F3A !important;
    color: #fff;
    background-image: none;
}

.button-blue {
    background-color: #00BEDE;
    border-color: #00BEDE !important;
    color: #fff;
    background-image: none;
}

.button-blue.activated {
    background-color: #4EDBED;
    border-color: #4EDBED !important;
    color: #fff;
    background-image: none;
}

.button-red {
    background-color: #F75B46;
    border-color: #F75B46 !important;
    color: #fff;
    background-image: none;
}

.button-red.activated {
    background-color: #F97467;
    border-color: #F97467 !important;
    color: #fff;
    background-image: none;
}
/*
.background-dark {
    background-color: #18212B !important;
}
*/
.background-dark {
    background-color: #242F3A !important;
    border-bottom: 2px solid #18212B;
    background-image: none;
}

.text-white {
  color: #fff !important;
}

.text-dark {
  color: #76868E;
}

.text-blue {
    color: #4EDBED;
}

.text-red {
    color: #F75B46;
}

.icon-score {
    content: url(../img/score.png);
    height: 27px;
    /*margin-bottom: 10px !important;*/
}

.icon-reward {
    content: url(../img/popcorn-icon.png);
    height: 25px;
    margin-top: 3px;
}

.icon-logo {
    content: url(../img/moviespot-white.png);
    height: 32px;
    margin-top: 9px;
    /*margin-right: 13px;*/
}

.score-header {
  margin-top: -1.5px;
}

.row-no {
  margin: 1px 0 0 0;
  padding: 0;
}

.slider-pager .slider-pager-page
{
    color: #fff;
}

.item.activated {
  background-color: #242F3A !important;
    border-color: #2D404F!important;
}

.header-title {
  /*width: 200px !important;*/
    left: 113px !important;
    right: 140px !important;
    /*widows: full;*/
    overflow: visible !important;
}

  /*background-color: #FAFAFA;*/
  /*border-color: #EDF0F2;*/

/*************************************/
/*      Login                       */
/*************************************/
.login-page {
    top: 50px;
}

.logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.logo-type {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

.facebook {
  background-color: #49659F;
  border-color: #49659F;
    top: 80px;
}

.facebook.activated {
  background-color: #587BBA;
  border-color: #587BBA;
  /*top: 80px;*/
}

.guest {
  top: 80px;
}

.popcorn {
    padding-top: 68px;
}

/*************************************/
/*      Tutorial                     */
/*************************************/

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 120px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.tutorial-page {
  padding-top: 120px;
  color: #FFF;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.tutorial-row {
  height: 65%;
}

.tutorial-text {
  font-weight: bold;
  font-size: 1.5em;
}

.tutorial-button {
  color: #F75B46 !important;
  font-weight: bold;
}

.tutorial-button.icon-right:before {
  color: #F75B46;
  padding-left: 0.5em;
}

.button-play {
    margin-top: 90px !important;
}

/*************************************/
/*      Game Pin                     */
/*************************************/

.game-pin-page {
  padding-top: 120px;
}

.game-pin-row {
  height: 80%;
  padding-bottom: 50px;
}

.item-pin {
  background-color: #18212B !important;
}

/*************************************/
/*      Game                         */
/*************************************/

.game-screen {
  width: 1024px;
  height: 768px;
  background-image: url("../img/ispy-full.jpg");
}

#toast {
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  bottom: 25px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.ispy-button {
  position: absolute;
  border: none;
  background-color: rgba(0,0,0,0);
}

.octopus {
  top: 116px;
  left: 220px;
  width: 59px;
  height: 67px;
}

.triangle {
  left: 875px;
  top: 216px;
  width: 51px;
  height: 45px;
}

.rib-cage {
  left: 571px;
  top: 348px;
  width: 74px;
  height: 55px;
}

.clothes-pin {
  left: 221px;
  top: 442px;
  width: 149px;
  height: 50px;
}

.number-three {
  left: 384px;
  top: 376px;
  width: 42px;
  height: 39px;
}

.dinosaur {
  left: 712px;
  top: 19px;
  width: 148px;
  height: 63px;
}

.cheese {
  left: 20px;
  top: 175px;
  width: 78px;
  height: 95px;
}

.thread {
  left: 860px;
  top: 121px;
  width: 56px;
  height: 91px;
}

.little-house {
  left: 368px;
  top: 117px;
  width: 54px;
  height: 46px;
}

/*************************************/
/*      Scores                       */
/*************************************/

.item {
    border-color: #2D404F;
    background-color: #252F39;
}

.item-divider {
    background-color: #2D404F;
    /*color: #F97467;*/
    font-size: 14px;
    border-color: #18212B;
    /*border-bottom: 2px solid #18212B;*/
}

.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}

.user-text {
    margin-top: 7px !important;
    font-size: 30px !important;
}

.profile-name {
    margin-top: -5px !important;
    font-size: 24px !important;
}


.note {
    float: right;
    color: #aaa;
    font-size: 20px !important;
}

.score-col {
    margin: -8px;
    margin-top: 20px;
    padding: 0;
}

/*************************************/
/*      Profile                      */
/*************************************/

.profile {
    height: 88px;
}

.progress-radial {
    position: absolute;
    margin-left: 68px;
    margin-top: 53px

}

.overlay {
    position: absolute;
    padding-top: 130px;
    text-align: center;
    color: #fff;

}

.popcorn-text {
    margin: 0;
    font-weight: bold;
}

.progress-text {
    margin: 0;
    font-weight: 500;
}

.popup-buttons .button {
    background-color: #F75B46;
    border: #F75B46;
    border-radius: 4px;
}

.popup-buttons .button.activated {
    background-color: #F97467;
    border-color: #F97467 !important;
    border-radius: 4px;
}

.popup-body {
    text-align: center;
}

.popup-container .popup {
    border-radius: 4px;
}

.profile-picture {
    content: url(../img/ron.jpeg);
    height: 60px;
    border-radius: 50%;
    margin-top: 1px;
}

.opponents-picture {
    content: url(../img/ron.jpeg);
    height: 40px;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile {
    padding: 10px;
    padding-top: 8px;

}

.profile-col {
    margin: 0;
    padding: 0;
}

.profile-name {
    padding-top: 15px;
}

.edit-profile-picture {
    margin-left: 7px
}

.edit-profile-view input {
    color: #76868E;
    font-weight: bold;
}

.edit-text {
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

.rewards-button-div {
    padding-top: 50px;
}

.ion-edit {
  float: left;
    margin-left: 48px;
    margin-top: 17px;
}

.edit-row {
    margin-top: 22px;
    padding: 0;
}

.item-edit {
  border: none;
  border-bottom: 2px solid #2D404F;

}

.item-last {
  border: none;
  /*border-bottom: 2px solid #2D404F;*/

}

.edit-col {
  padding: 0;
}

/*****************************/
/*     Shake Animation       */
/*****************************/

@-webkit-keyframes shake {
  0%, 40% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  7.5% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }

  15% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  20% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }

  25% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }

  35% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}

.shake {
  -webkit-animation: shake;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
