/*************************************/
/*      General                      */
/*************************************/

.button-dark-blue {
    background-color: #1A232D;
    border-color: #1A232D !important;
    color: #fff;
    background-image: none;
}

.button-dark-blue.activated {
    background-color: #252F39;
    border-color: #252F39 !important;
    color: #fff;
    background-image: none;
}

.button-blue {
    background-color: #00BEDE;
    border-color: #00BEDE !important;
    color: #fff;
    background-image: none;
}

.button-blue.activated {
    background-color: #4EDBED;
    border-color: #4EDBED !important;
    color: #fff;
    background-image: none;
}

.button-red {
    background-color: #F75B46;
    border-color: #F75B46 !important;
    color: #fff;
    background-image: none;
}

.button-red.activated {
    background-color: #F97467;
    border-color: #F97467 !important;
    color: #fff;
    background-image: none;
}

.background-dark {
    background-color: #1F2934;
}

.sub-headerbar-dark {
    background-color: #252F39;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #76868E;
}

.text-blue {
    color: #4EDBED;
}

.text-gray {
  color: #76868E;
}

.icon-trophy {
    content: url(../img/trophy.png);
    height: 23px;
    margin-top: 5px;
}

.icon-person {
    content: url(../img/person.png);
    height: 23px;
    margin-top: 5px;
}

  /*background-color: #FAFAFA;*/
  /*border-color: #EDF0F2;*/

/*************************************/
/*      Login                       */
/*************************************/
.login-page {
    top: 70px;
}

.logo {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.logo-type {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}

.facebook {
    top: 100px;
    margin-bottom: 0;
    margin-top: 0;
}

.guest {
    top: 100px;
    margin-bottom: 0;
    margin-top: 0;
}

.popcorn {
    padding-top: 105px;
}

/*************************************/
/*      Tutorial                     */
/*************************************/

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 120px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

/*************************************/
/*      Game                         */
/*************************************/

/*************************************/
/*      Scores                       */
/*************************************/

.item {
  border-color: #EDF0F2;
}

.wrapping-list .item-content, .wrapping-list .item {
  overflow: initial;
  white-space: initial;
}

/*************************************/
/*      Profile                      */
/*************************************/

.profile {
    height: 88px;
}

.progress-radial {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 30px solid #00BEDE;
    margin-left: 57px;
    margin-top: 90px

}

.progress-radial .overlay {
    margin-top: 65px;
    text-align: center;
    color: #fff;

}

.popcorn-text {
    margin: 0;
}

.progress-text {
    margin: 0;
}
